.intro-page {
  background-color: #efefef;
  ion-slides {
    height: 100%;
    background-color: #efefef;
    --bullet-background: #000;

    ion-slide {
      display: flex;
      height: 100%;
      width: 100%;
      flex-wrap: wrap;
      padding: 32px;
      
      h2, p {
        width: 100%;
      }

      &:not(:first-child) {
        p {
          text-align: left;
        }

        h2 {
          margin-bottom: 40px;
        }

        strong {
          color: #935802;
        }

        ion-button {
          --background: #935802;
        }
      }


      .logo {
        width: 300px;
        height: 300px;
        margin: 0 auto;
  
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}