.game {
  width: 100%;
  height: 100%;
  background-color: #efefef;

  &--content {
    --background: #efefef;
  }

  > .body {
    width: 100%;
    color: #022b47;
  }


  ion-button, &--footer ion-button {
    --background: #935802;
  }

  .first-player-info {
    margin-top: 30px;

    h2 {
      text-transform: capitalize
    }
  }
}