<ion-content>
  <div class="game" padding>
    <div class="body">
      <h2>Clique no seu nome</h2>
      <p>Será que você é o espião?</p>
      <ion-button
        expand="full"
        *ngFor="let jogador of jogadores; let i = index"
        (click)="verificar(i)"
        [disabled]="jogador.verificado">
        {{ jogador.nome }}
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer class="game--footer" padding>
  <ion-button expand="full">
    Finalizar jogo
  </ion-button>
</ion-footer>
  
  