<ion-content class="game--content">
  <div class="game" padding>
    <div class="body">
      <h2>Clique no seu nome</h2>
      <p>Será que você é o espião?</p>
      <ion-button
        expand="full"
        *ngFor="let jogador of jogadores; let i = index"
        (click)="verificar(i)">
        {{ jogador.nome }}
      </ion-button>

      <div class="first-player-info" *ngIf="firstPlayerIndex > -1">
        <p>Primeiro jogador a perguntar</p>
        <h2>{{ jogadores[firstPlayerIndex].nome }}</h2>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="game--footer" padding (click)="finalizar()">
  <ion-button expand="full">
    Finalizar jogo
  </ion-button>
</ion-footer>
  
  