.reveal-page {
  width: 100%;
  height: 100%;
  background-color: #efefef;
  display: flex;
  align-items: center;

  > .body {
    width: 100%;
    color: #022b47;
    text-align: center;

    p {
      span {
        text-transform: capitalize;
      }
    }
  }


  ion-button {
    --background: #935802;
  }
}